/* Etiqueta body - estilos */
body{
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #33B99A;
}

/*Estilos Globales */
.contenedor{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

/*Encabezado (NAV) */
header{
    background-color:#33E3BA;
    color: white;
    padding-top: 30px;
    min-height: 70px;
}
/*Configuracion de texto del nav*/
header a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

header #marca{
    float: left;
}
header #marca h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 1px;
    padding-right: 20px;
    padding-top: 0px;
}
header .resaltado, header .actual a{
    color: blue;
    font-weight: bold;
}
header a:hover{
    color: #ccc;
    font-weight: bold;
}
/*Cabecera*/
.perro{
    width: 1000px;
    height: 370px;
}
/*CONTENEDORES DE TEXTO*/
#contenedort1{
    text-align: center;
    padding: 10px;
}

#izquierda{
    padding: 10px;
    float: left;
    text-align: left;
}
#centro{
    text-align: right;
    display: inline-block;
}
#derecha{
    float:right;
}
.icons{
    width: 50px;
    height: 50px;
}
b{
    font-size: 20px;
    font-family: cursive;
    color: white;
    font-weight: bold;
}
/*Segundo contenedor imagenes y texto*/
.colorfondo2{
    background-size: 100%;
    background: white;
}
#contenedor2{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor2 .C,#contenedor2 .D{
    display: inline-block;
    margin: 0% auto;
    font-family: Arial, Helvetica, sans-serif;
}
#contenedor2 .C{
    text-align: right;
    padding-right: 1px;
}
#contenedor2 .D{
    text-align: left;
    padding-left: 1px;
}
.imagena{
    width: 250px;
    height: 150px;
}
.imagenb{
    width: 200px;
    height: 200px;
}
article p{
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
    font-weight: bold;
}
samp{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.hr1{
    width: 50px;
    height: 2px;
    border: 0;
    background-color: red;
    margin:0;
    float: right;
}
.hr2{
    width: 50px;
    height: 2px;
    border: 0;
    background-color: red;
    margin:0;
    float: left;
}
/*BOTON */
.boton{
    height: 38px;
    background:white;
    border: 20;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
}
/*footer*/
footer{
    background: #D3D3D3;
}
